.full-width {
  height: auto;
  padding: 1rem 0;
  width: 100%;
}

.full-width.about,
.full-width.contact {
  background: #985051;
  color: #FFFFFF;
}

.full-width.about .section-header,
.full-width.contact .section-header {
  color: #FFFFFF;
}

.section-header {}
.two-col-header {}
.three-col-header {}

.background-image.full {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position:relative;
  width: 100%;
  z-index: 9;
}

.front .background-image.full {
  background-image: url('../img/front-header.jpg');
}

.page-title {
  color: white;
  font-size: 5rem;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}
